:root {
  --primary-color: #547c54; /* forent green */
  --secondary-color: #f4a261; /* warm sand */
  --accent1-color: #35667a; /* dark slate blue */
  --accent2-color: #e9c46a; /* light golden yellow */
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
}

header,
main,
footer {
  width: 840px;
  margin: 0 auto;
}

h1,
h2 {
  font-family: var(--heading-font);
  color: white;
}

nav,
p,
section,
article {
  margin: 16px;
  padding: 8px;
}

header {
  background-color: var(--primary-color);
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

header img {
  width: 30%;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

nav ul {
  list-style-type: none;
}

.hero {
  margin-top: 10px;
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.about_h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  background-color: var(--primary-color);
  color: #fff;
}

.about_article {
  position: absolute;
  left: 21px;
  right: 21px;
  background-color: var(--primary-color);
  color: #fff;
  margin: 0;
  bottom: 1rem;
}
.hero article img {
  float: right;
  width: 200px;
  margin-left: 1rem;
}

.history_section {
  margin: 10px 0 0 0;
  background-color: var(--primary-color);
  color: white;
  display: grid;
  grid-template-columns: 1fr 0.7fr 1fr;
  justify-items: center;
  align-items: center;
}

.history_p {
  margin: 0;
  padding: 10px;
}

.history_center {
  text-align: center;
}

.adventures_section {
  margin: 10px 0 0 0;
  background-color: var(--primary-color);
  padding: 20px;
  color: white;
  text-align: center;
}

.adventures_section div {
  margin-top: 10px;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
}

figcaption {
  grid-row-start: 2;
}

.adventures_section img {
  width: 80%;
  margin-bottom: 8px;
}

footer {
  background-color: var(--primary-color);
  display: grid;
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 10px;
  padding: 0 20px;
  color: white;
}

footer p {
  text-align: center;
  grid-column: 1/6;
  padding-left: 100px;
}

.socialmedia {
  margin: 0;
  grid-column: 6/7;
}

footer img {
  width: 30px;
}

.contact_info p,
.contact_info h1 {
  color: black;
  padding: 0;
}

.contact_info {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 15px 10px;
  max-width: 400px;
  padding: 20px;
}

.form-item {
  display: contents;
}

form label {
  align-self: center;
  padding-right: 10px;
}

.form-item input[type="text"],
.form-item input[type="email"],
.form-item textarea {
  width: 100%;
  padding: 8px 12px;
  border-radius: 4px;
}

.full-width-label label {
  text-align: left;
  grid-column: 1/-1;
  padding-bottom: 5px;
}

.full-width-input textarea {
  grid-column: 1 / -1;
  resize: vertical;
}
.radio-group > label {
  grid-column: 1/-1;
  text-align: left;
}

.radio-group > div {
  grid-column: 1/-1;
  margin-top: -10px;
  padding-left: 10px;
}

radio-group input[type="radio"] {
  margin-right: 5px;
}

.radio-group label {
  text-align: left;
  padding-right: 0;
}

.checkbox-row {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  gap: 10px;
}

.submit-button {
  grid-column: 1/-2;
  padding: 10px 10px;
}

iframe {
  width: 45%;
}

.form {
  width: 45%;
}

.employees {
  background-color: rgba(170, 170, 170, 0.459);
  padding: 10px;
  height: 240px;
}

.employees-container {
  display: flex;
  justify-content: space-around;

  width: 100%;
}

.employees-h2 {
  color: black;
  text-align: center;
  margin-bottom: 15px;
}

.employee {
  width: 150px;
  height: 150px;
}

.employee img {
  object-fit: cover;
  height: 150px;
  width: 150px;
}

.employee-name {
  text-align: center;
  margin: 0;
}

.newsletter_container {
  background: var(--primary-color);
  padding-top: 10px;
  margin-top: 10px;
  color: white;
}

.newsletter_form_container {
  display: flex;
  justify-content: center;
}

.newsletter_form {
}

fieldset {
  border: none;
}

.newsletter_h2,
.newsletter_p {
  margin-top: 15px;
  text-align: center;
}

.cta {
  margin-top: 10px;
  color: white;
  padding: 10px;
  background: var(--primary-color);
  text-align: center;
  height: 180px;
}

.cta_button {
  font-size: 1rem;
  background: var(--primary-color);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid rgb(104, 171, 104);
  box-shadow: 12px 11px 28px -8px rgba(0, 0, 0, 0.75);
  text-decoration: none;
}

.cta-trips {
  background: var(--primary-color);
  height: 180px;
  color: white;
  text-align: center;
}

a:visited {
  color: white;
}

.characteristics {
  padding: 10px 30px;
  background: var(--primary-color);
  margin-top: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.characteristics_h2 {
  text-align: center;
}

.characteristics_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  align-items: baseline;
}

.characteristics img {
  width: 90%;
  margin: 10px 0;
}

ul {
  list-style-position: inside;
}

li {
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 10px;
}

.trip-card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px 0;
}

.trip_h1 {
  color: black;
}
.trip-card {
  margin-bottom: 0;
  padding: 15px;
  background-color: #f9f9f9;
}
.trip-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
}
.trip-card h2 {
  color: var(--accent1-color);
  grid-column: 2 / 3;
}
.trip-card p,
.trip-card ul {
  grid-column: 2 / 3;
  color: black;
}

.trip-table-container {
  margin-top: 20px;
  padding: 10px;
  overflow-x: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  color: #333;
}
th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}
thead {
  background-color: var(--primary-color);
  color: white;
}
